/* #main {
  height: 100vh;
  width: 100%;
}

#photo {
  width: 40%;
  border: 1px solid black;
  margin-top: 100px;
}

#main .card {
  margin-top: 50px;
  width: 80%;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  #main .card {
    margin-top: 50px;
    width: 40%;
    margin-bottom: 50px;
  }
}

.typcn.typcn-heart-full-outline.heart {
  color: #f51169;
  font-size: 20px;
}

#photo-heading {
  text-align: center;
}

.left-col {
  text-align: center;
}

@media (min-width: 576px) {
  .left-col {
    text-align: left;
    padding-left: 0px;
  }
}

.right-col {
  text-align: center;
  padding-right: 0px;
}

@media (min-width: 576px) {
  .right-col {
    text-align: right;
    height: 30px;
  }
}

#main h4 {
  font-weight: bold;
}

#footer p {
  height: 20px;
}

.form-label {
  margin-bottom: 0;
}

#main .card-body {
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
}

form .form-group {
  padding: 0 16px 8px;
}

.typcn.typcn-heart-full-outline.heart {
  padding-right: 1px;
}

#footer {
  margin: 15px 0 5px;
}

#id-submit .form-label {
  font-size: 12px;
  font-weight: bold;
}

@media (min-width: 576px) {
  #id-submit .form-label {
    font-size: 12px;
    font-weight: bold;
    margin-right: 12px;
  }
}

#price {
  margin: 0;
}

#id-submit {
  padding-top: 30px;
}

#price div {
  padding: 0;
}

#product-id {
  width: 100%;
}

.left-col {
  height: auto;
}

.right-col {
  height: auto;
} */

section {
  padding: 20px 0;
}

#heart-icon {
  color: var(--bs-pink);
}

#google_product_category {
  font-size: 14px;
}

@media (min-width: 768px) {
  #google_product_category {
    font-size: 16px;
  }
}

#title {
  font-size: 18px;
}

@media (min-width: 768px) {
  #title {
    font-size: 22.704px;
  }
}

#price {
  font-size: 14px;
}

@media (min-width: 768px) {
  #price {
    font-size: 16px;
  }
}

#productid-label {
  font-size: 14px;
}

@media (min-width: 768px) {
  #productid-label {
    font-size: 16px;
  }
}

