section {
  padding: 20px 0;
}

#heart-icon {
  color: var(--bs-pink);
}

#google_product_category {
  font-size: 14px;
}

#title {
  font-size: 18px;
}

#price {
  font-size: 14px;
}

#productid-label {
  font-size: 14px;
}

